<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <nav class="nav justify-content-start">
        <a class="nav-link active" [routerLink]="['/home']">Home</a>
        <a class="nav-link" [routerLink]="['/destino']">Destino</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1>{{ title }}</h1>
  </div>
  <router-outlet></router-outlet>
</div>
